@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .CustomPointer {
        cursor: pointer;
    }
</style>
<section class="section">
    <div class="section-header">
        <h1>Update Password</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header"><h4>Change Password</h4></div>

                <div class="card-body">
                    <form>
                        <div class="form-group OldPasswordDiv">
                            <label for="email">Old Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control OldPassword">
                                <div class="input-group-append CustomPointer" id="OldPassword">
                                    <div class="input-group-text">
                                        <i class="fas fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="UpdatePassword" style="display:none;">
                            <div class="form-group">
                                <label for="NewPassword">New Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                    <input type="password" class="form-control NewPassword">
                                    <div class="input-group-append CustomPointer" id="NewPassword">
                                        <div class="input-group-text">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ConfirmPassword">Confirm Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                    <input type="password" class="form-control ConfirmPassword">
                                    <div class="input-group-append CustomPointer" id="ConfirmPassword">
                                        <div class="input-group-text">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="customErrorMessageCheckPassword text-danger"></span>
                            <button type="button" class="btn btn-primary btn-lg btn-block ResetPassword" style="display:none;">
                                Reset Password
                            </button>
                            <button type="button" class="btn btn-primary btn-lg btn-block ValidateOldPassword">
                                Validate Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../../assets/modules/jquery.min.js"></script>
<!-- JS Libraies -->
<script src="../../assets/modules/izitoast/js/iziToast.min.js"></script>
<script src="~/App-Assests/Js/Account.js"></script>