
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!-- Start GA -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Login &mdash; FB Designer</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="../../assets/modules/bootstrap-social/bootstrap-social.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/components.css">
    <link rel="stylesheet" href="~/App-Assests/CSS/Custom.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');</script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-brand">
                            <a href="@Url.Action("Login", "Account")"><img src="~/ImageStorage/Icons/ShopManagementLogo.jpg" alt="logo" width="150" class="shadow-light rounded-circle"></a>
                        </div>

                        <div class="card card-primary">
                            <div class="card-header"><h4>Login</h4></div>

                            <div class="card-body">
                                <form id="LoginForm">
                                    <div class="form-group">
                                        <label for="number">Mobile Number</label>
                                        <input id="number" type="number" class="form-control MobileNumber" value="" name="email" tabindex="1" autofocus placeholder="Enter Mobile Number">
                                    </div>

                                    <div class="form-group">
                                        <div class="d-block">
                                            <label for="password" class="control-label">Password</label>
                                            <div class="float-right">
                                                <a href="@Url.Action("ResetPassword", "Account")" class="text-small">
                                                    Forgot Password?
                                                </a>
                                            </div>
                                        </div>
                                        <input id="password" type="password" class="form-control Password" value="" name="password" tabindex="2" placeholder="Enter Password">
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me" checked>
                                            <label class="custom-control-label" for="remember-me">Remember Me</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <span class="text-danger customErrorMessageLogin"></span>
                                        <button type="button" id="LoginFormSubmit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script src="../../assets/modules/jquery.min.js"></script>
    <script src="~/App-Assests/Js/Login.js"></script>
    <script src="~/App-Assests/Js/Custom.js"></script>
    <script>

        $(document).ready(function () {
            var MobileNumber = getCookie("MobileNumber");
            var Password = getCookie("Pwd");
            $(".MobileNumber").val(MobileNumber);
            $(".Password").val(Password);
            if (typeof (MobileNumber) != "undefined" && MobileNumber != null && MobileNumber != "")
                ValidateLogin(MobileNumber, Password, false);
        });

        $("#LoginFormSubmit").click(function () {
            var MobileNumber = $(".MobileNumber").val();
            var Password = $(".Password").val();
            ValidateLogin(MobileNumber, Password, false);
        });

        $("#LoginForm").submit(function () {
            var MobileNumber = $(".MobileNumber").val();
            var Password = $(".Password").val();
            ValidateLogin(MobileNumber, Password, false);
        });

        function CallBackValidateLogin(responseData) {            
            if (responseData.message.status == "success") {
                var MobileNumber = $(".MobileNumber").val();
                var Password = $(".Password").val();
                setCookie("MobileNumber", MobileNumber, 1000);
                setCookie("Pwd", Password, 1000);
                window.location.href = "@Url.Action("Dashboard", "Dashboard")";
            }
            else {
                $("#LoginFormSubmit").removeClass("btn-progress");
                var ErrorMessage = responseData.message.errorMessage;
                if (typeof (ErrorMessage) != "undefined" && ErrorMessage != null && ErrorMessage != "") {
                    $(".customErrorMessageLogin").text(ErrorMessage);
                } else {
                    $(".customErrorMessageLogin").text("Invalid Login !");
                }
            }
        }

        function getCookie(cname) {
            var name = cname + "=";
            var encodedCookie = encodeURIComponent(document.cookie);
            var decodedCookie = decodeURIComponent(encodedCookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

    </script>
</body>

<!-- Mirrored from demo.getstisla.com/auth-reset-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Mar 2021 16:03:43 GMT -->
</html>