
@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Reset Password &mdash; Stisla</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/components.css">
    <link rel="stylesheet" href="~/App-Assests/CSS/Custom.css">
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="../../assets/modules/izitoast/css/iziToast.min.css">
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-brand">
                            <img src="../../assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                        </div>

                        <div class="card card-primary">
                            <div class="card-header"><h4>Forgot Password</h4></div>

                            <div class="card-body">
                                <p class="text-muted">We will send a link Password to your Mobile Number</p>
                                <form>
                                    <div class="form-group">
                                        <label for="number">Mobile</label>
                                        <input id="number" type="number" class="form-control UserMobileNumber" name="number" tabindex="1">
                                    </div>
                                    <div class="float-right">
                                        Got Password? then login
                                        <a href="@Url.Action("Login", "Account")" class="text-small">
                                            here
                                        </a>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <span class="customErrorMessageForgotPassowrd text-danger"></span>
                                        <button type="button" class="btn btn-primary btn-lg btn-block ForgotPassowrdFromSubmit" tabindex="4">
                                            Send Password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- General JS Scripts -->
    <script src="../../assets/modules/jquery.min.js"></script>
    <script src="../../assets/modules/popper.js"></script>
    <script src="../../assets/modules/tooltip.js"></script>
    <script src="../../assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/modules/moment.min.js"></script>
    <script src="../../assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="../../assets/js/scripts.js"></script>
    <script src="../../assets/js/custom.js"></script>
    <script src="~/App-Assests/Js/Account.js"></script>
    <script src="~/App-Assests/Js/Custom.js"></script>
    <!-- JS Libraies -->
    <script src="../../assets/modules/izitoast/js/iziToast.min.js"></script>
</body>
</html>