
@{
    ViewBag.Title = "AddShop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .selectgroup-input:focus + .selectgroup-button, .selectgroup-input:checked + .selectgroup-button.active {
        background-color: #62f923;
    }

    .selectgroup-input:focus + .selectgroup-button, .selectgroup-input:checked + .selectgroup-button.inactive {
        background-color: #f34e00;
    }

    .CustomPointer {
        cursor: pointer;
    }
</style>
<section class="section">
    <div class="section-header">
        <h1>Add Shop</h1>
        @*<a href="@Url.Action("viewAllShops", "Shop")" style="float:right;" class="btn btn-info">View All Shops</a>*@
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Shop Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control ShopName">
                        </div>
                        <div class="form-group">
                            <label>Area</label>
                            <div class="input-group">
                                <input type="text" class="form-control ShopArea">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="number" class="form-control ShopMobileNumber">
                        </div>
                        <div class="form-group">
                            <label>Maximum Orders</label> <small>\per day</small>
                            <input type="number" class="form-control MaxOrderCountForShop">
                        </div>
                        <div class="form-group">
                            <label>Choose User</label>
                            <select class="form-control select2 ShopManager">
                                <option value="">Select User</option>
                                @foreach (var item in Model)
                                {
                                    if (item.IsAdmin == 0)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" class="form-control invoice-input ShopImage" id="ShopImage" style="padding:.375rem .75rem;">
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <div class="form-group">
                                <div class="selectgroup w-100">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="active" class="selectgroup-input ShopStatus" checked="">
                                        <span class="selectgroup-button active">Active</span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="inactive" class="selectgroup-input ShopStatus">
                                        <span class="selectgroup-button inactive">Inactive</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Notes</label>
                            <textarea class="form-control ShopNotes"></textarea>
                        </div>
                        <span class="text-danger customErrorMessageAddShop"></span>
                        <button class="btn btn-block btn-info AddShopFromSubmit" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- General JS Scripts -->
<script src="../../assets/modules/jquery.min.js"></script>
<script src="~/App-Assests/Js/Shop.js"></script>
