.section .section-header h1{
    width:100%;
}

.form-error {
    border-color: #dc3545 !important;
}

/*.owl-theme .owl-nav {
    margin-top: 10px;
    display: none !important;
}*/

.customGalleryItems {
    width: 200px;
    height: 200px;
    float: left !important;
}