
@{
    ViewBag.Title = "SliderSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <div class="section-header">
        <h1>Slider Manager</h1>
    </div>
    <div class="section-body">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Configure Slider Settings</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Choose Shop</label>
                                <select class="form-control select2">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Choose Slider</label>
                                <select class="form-control select2">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Choose Image Count</label>
                                <select class="form-control select2">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>All Image</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row gutters-sm">
                                    <div class="col-6 col-sm-4">
                                        <label class="imagecheck mb-4">
                                            <input name="imagecheck" type="checkbox" value="1" class="imagecheck-input" />
                                            <figure class="imagecheck-figure">
                                                <img src="../../assets/img/news/img01.jpg" alt="}" class="imagecheck-image">
                                            </figure>
                                        </label>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <label class="imagecheck mb-4">
                                            <input name="imagecheck" type="checkbox" value="2" class="imagecheck-input" />
                                            <figure class="imagecheck-figure">
                                                <img src="../../assets/img/news/img02.jpg" alt="}" class="imagecheck-image">
                                            </figure>
                                        </label>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <label class="imagecheck mb-4">
                                            <input name="imagecheck" type="checkbox" value="3" class="imagecheck-input" />
                                            <figure class="imagecheck-figure">
                                                <img src="../../assets/img/news/img03.jpg" alt="}" class="imagecheck-image">
                                            </figure>
                                        </label>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <label class="imagecheck mb-4">
                                            <input name="imagecheck" type="checkbox" value="4" class="imagecheck-input" />
                                            <figure class="imagecheck-figure">
                                                <img src="../../assets/img/news/img04.jpg" alt="}" class="imagecheck-image">
                                            </figure>
                                        </label>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <label class="imagecheck mb-4">
                                            <input name="imagecheck" type="checkbox" value="5" class="imagecheck-input" />
                                            <figure class="imagecheck-figure">
                                                <img src="../../assets/img/news/img05.jpg" alt="}" class="imagecheck-image">
                                            </figure>
                                        </label>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <label class="imagecheck mb-4">
                                            <input name="imagecheck" type="checkbox" value="6" class="imagecheck-input" />
                                            <figure class="imagecheck-figure">
                                                <img src="../../assets/img/news/img06.jpg" alt="}" class="imagecheck-image">
                                            </figure>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-block btn-info">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>