
@{
    ViewBag.Title = "ViewOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>All Orders</h1>
        @*<a href="@Url.Action("AddOrder", "Order")" style="float:right;" class="btn btn-info">Add New Order</a>*@
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Orders</h4>
                    </div>
                    <div class="card-body">
                        @*@if (Model.Count <= 0)
                        {
                            <div class="col-md-12">
                                <div class="card card-warning">
                                    <div class="card-header">
                                        <h4>No Orders Found !</h4>
                                    </div>
                                    <div class="card-body" style="text-align:center;">
                                        <p>Add Orders to see the list here.. <i><b><a href="@Url.Action("AddOrder", "Order")">Add Order</a></b></i></p>
                                    </div>
                                </div>
                            </div>
                        }else*@
                        @{
                            <table class="table table-striped table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Customer Name</th>
                                        <th scope="col">Satus</th>
                                        <th scope="col">Customer Mobile Number</th>
                                        <th scope="col">Remaining Days</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Divakar</td>
                                        <td>In Progress</td>
                                        <td>8148563820</td>
                                        <td>5</td>
                                        <td>
                                            <a href="javascript:void"><i class="fas fa-eye ViewOrderInfo"></i></a>
                                            <a href="javascript:void"><i class="fas fa-edit EditOrderInfo"></i></a>
                                            <a href="javascript:void"><i class="fas fa-trash DeleteOrder"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Divakar</td>
                                        <td>In Progress</td>
                                        <td>8148563820</td>
                                        <td>5</td>
                                        <td>
                                            <a href="javascript:void"><i class="fas fa-eye ViewOrderInfo"></i></a>
                                            <a href="javascript:void"><i class="fas fa-edit EditOrderInfo"></i></a>
                                            <a href="javascript:void"><i class="fas fa-trash DeleteOrder"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Divakar</td>
                                        <td>In Progress</td>
                                        <td>8148563820</td>
                                        <td>5</td>
                                        <td>
                                            <a href="javascript:void"><i class="fas fa-eye ViewOrderInfo"></i></a>
                                            <a href="javascript:void"><i class="fas fa-edit EditOrderInfo"></i></a>
                                            <a href="javascript:void"><i class="fas fa-trash DeleteOrder"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="OrderInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Shop Info - </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="EditOrder">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Shop - </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- General JS Scripts -->
<script src="../../assets/modules/jquery.min.js"></script>
<script src="~/App-Assests/Js/Order.js"></script>